<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="${_project.envRoot}/scripts/lib/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="${_project.envRoot}/styles/base/css/crt.css" />
<script src="${_project.envRoot}/scripts/lib/jquery/jquery1x.min.js" type="text/javascript"></script>
<script src="${_project.envRoot}/scripts/lib/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="${_project.envRoot}/scripts/lib/jquery/jquery.form.min.js" type="text/javascript"></script>

<!-- jbox scripts -->
<script src="${_project.envRoot}/scripts/lib/plugins/jbox/jquery.1.8.jBox-2.3.src.js" type="text/javascript"></script>
<script src="${_project.envRoot}/scripts/lib/plugins/jbox/jquery.jBox-zh-CN.js" type="text/javascript"></script>

<script src="${_project.envRoot}/scripts/lib/plugins/bootstrap/js/bootbox.js" ></script>

<!-- jquery-validate-->
<script src="${_project.envRoot}/scripts/lib/plugins/jquery-validation/jquery.validate.js" type="text/javascript"></script>
<script src="${_project.envRoot}/scripts/lib/plugins/jquery-validation/jquery.metadata.js" type="text/javascript"></script>
<script src="${_project.envRoot}/scripts/lib/plugins/jquery-validation/jquery.validate.method.js" type="text/javascript"></script>

<!-- toaster scripts-->
<link rel="stylesheet" type="text/css" href="${_project.envRoot}/scripts/lib/plugins/jquery-toaster/toastr.css">
<script src="${_project.envRoot}/scripts/lib/plugins/jquery-toaster/toastr.js" type="text/javascript"></script>
<script src="${_project.envRoot}/scripts/lib/plugins/jquery-toaster/toastr.config.js" type="text/javascript"></script>


<!-- crt scripts -->
<script src="${_project.envRoot}/scripts/function/crt_core.js" type="text/javascript"></script>
<script src="${_project.envRoot}/scripts/function/crt_constant.js" type="text/javascript"></script>
<script src="${_project.envRoot}/scripts/function/crt_util.js" type="text/javascript"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
<!--[if lte IE 8]>
<script src="${_project.envRoot}/scripts/lib/plugins/bootstrap/js/html5shiv.min.js"></script>
<script src="${_project.envRoot}/scripts/lib/plugins/bootstrap/js/respond.min.js"></script>
<![endif]-->